# Конфиденциальные данные
*.env            # Файлы окружения с секретами
config.json      # Конфигурационные файлы
secret.txt       # Пример конфиденциального файла

# Пример настроек для некоторых сервисов
*.pem            # Приватные ключи
*.key            # Приватные ключи


# Системные файлы
.DS_Store        # macOS
Thumbs.db        # Windows

# Папка с кэшами компиляции

__pycache__     # Кэшированные байт-коды Python
*.pyc


__pycache__/     # Кэшированные байт-коды Python
*.pyc 

# Системы виртуальных окружений
venv/            # Виртуальное окружение Python
.env             # Файл с переменными окружения

# Логи и временные файлы
*.log            # Лог-файлы
*.tmp            # Временные файлы

# Файлы базы данных
*.sqlite3        # SQLite базы данных
*.db             # Общие файлы баз данных

# Другие конфигурационные файлы
*.pyc            # Компилированные файлы Python

*.pyo            # Оптимизированные файлы Python

/tick.db
tick1.db


*.pyo           # Оптимизированные файлы 


# Конфиденциальные данные
*.env            # Файлы окружения с секретами
config.json      # Конфигурационные файлы
secret.txt       # Пример конфиденциального файла

# Пример настроек для некоторых сервисов
*.pem            # Приватные ключи
*.key            # Приватные ключи

