# Конфиденциальные данные
*.env            # Файлы окружения с секретами
config.json      # Конфигурационные файлы
secret.txt       # Пример конфиденциального файла

# Пример настроек для некоторых сервисов
*.pem            # Приватные ключи
*.key            # Приватные ключи
